In [1]:
import pandas as pd

In [2]:
catalogo = pd.read_excel("catalogo_municipios_sepomex.xlsx", engine = "openpyxl")

In [3]:
catalogo["Llave"] = catalogo["DESC_ESTADO"]+catalogo["DESC_MUNICIPIO"]

In [4]:
sucursales_x_municipio = pd.read_excel("sucursales_por_municipio.xlsx", engine = "openpyxl")

In [5]:
sucursales_x_municipio

,CVE_PERIODO,CVE_INSTITUCION,DESC_INSTITUCION,CVE_EDO,DESC_EDO,DESC_MUN,LLAVE,NUM_SUCURSALES
0,202004,40002,Banamex,1,Aguascalientes,Aguascalientes,Aguascalientes_Aguascalientes,8
1,202004,40002,Banamex,1,Aguascalientes,Calvillo,Aguascalientes_Calvillo,1
2,202004,40002,Banamex,2,Baja California,Ensenada,Baja California_Ensenada,4
3,202004,40002,Banamex,2,Baja California,Mexicali,Baja California_Mexicali,5
4,202004,40002,Banamex,2,Baja California,Playas de Rosarito,Baja California_Playas de Rosarito,1
...,...,...,...,...,...,...,...,...
4324,202004,40152,Bancrea,24,San Luis Potosí,San Luis Potosí,San Luis Potosí_San Luis Potosí,1
4325,202004,40155,ICBC México,9,Ciudad de México,Cuauhtémoc,Ciudad de México_Cuauhtémoc,1
4326,202004,40157,Banco Shinhan,9,Ciudad de México,Cuauhtémoc,Ciudad de México_Cuauhtémoc,1
4327,202004,40159,Bank of China,9,Ciudad de México,Cuauhtémoc,Ciudad de México_Cuauhtémoc,1
4328,202004,40162,Banco Keb Hana,9,Ciudad de México,Cuauhtémoc,Ciudad de México_Cuauhtémoc,1

In [6]:
num_mun = len(set(catalogo.Llave))
print("Número de municipios en el país:", num_mun)

Número de municipios en el país: 2458

In [7]:
num_mun_suc = len(set(sucursales_x_municipio.DESC_MUN))
print("Número de municipios con sucursales en el país:", num_mun_suc)

Número de municipios con sucursales en el país: 875

In [8]:
#Los 3 bancos con mayor número de sucursales
num_sucursales = sucursales_x_municipio.groupby("DESC_INSTITUCION")["NUM_SUCURSALES"].sum().sort_values(ascending=False).to_frame("Número de sucursales")
print("Los 3 bancos con mayor número de sucursales:")
num_sucursales.head(3)

Los 3 bancos con mayor número de sucursales:

                  Número de sucursales
DESC_INSTITUCION
Banco Azteca                      1878
BanCoppel                         1195
Banorte                           1178

In [9]:
print("Los 3 bancos con menor número de sucursales:")
num_sucursales.tail(16)

Los 3 bancos con menor número de sucursales:

                       Número de sucursales
DESC_INSTITUCION
Monex                                     6
Accendo Banco                             1
Volkswagen Bank                           1
Barclays                                  1
Banco Keb Hana                            1
Banco Shinhan                             1
Bank of America                           1
Bank of China                             1
Consubanco                                1
Credit Suisse                             1
ICBC México                               1
Inmobiliario Mexicano                     1
Invex                                     1
J.P. Morgan                               1
MUFG Bank México                          1
ABC Capital                               1

In [10]:
#Los 3 bancos con presencia en mayor número de municipios
num_sucursales_presencia = sucursales_x_municipio.groupby("DESC_INSTITUCION")["DESC_INSTITUCION"].count().sort_values(ascending=False).to_frame("Presencia en municipios")
print("Los 3 bancos con presencia en mayor número de municipios:")
num_sucursales_presencia.head(3)

Los 3 bancos con presencia en mayor número de municipios:

                  Presencia en municipios
DESC_INSTITUCION
Banco Azteca                          794
BanCoppel                             510
BBVA Bancomer                         483

In [21]:
#¿Qué banco es el que ayuda a que haya mayor inclusión financiera en el país?
mun_una_suc = sucursales_x_municipio[sucursales_x_municipio["NUM_SUCURSALES"] == 1]

In [23]:
mun_una_suc.groupby("DESC_INSTITUCION")["DESC_INSTITUCION"].count().sort_values(ascending=False).to_frame("Presencia única en municipios")

                       Presencia única en municipios
DESC_INSTITUCION
Banco Azteca                                     518
BBVA Bancomer                                    359
BanCoppel                                        318
HSBC                                             197
Banorte                                          192
Banamex                                          163
Santander                                        158
Compartamos                                      144
Banco Ahorro Famsa                               112
Scotiabank                                       106
BanBajío                                          70
CIBanco                                           50
Inbursa                                           47
Intercam Banco                                    43
Forjadores                                        41
Afirme                                            40
Actinver                                          33
Banregio                                          25
Fundación Dondé Banco                             20
Multiva                                           15
Banca Mifel                                       14
Banco BASE                                        11
Mi Banco BAM                                      10
Bankaool                                           8
Monex                                              6
Ve por Más                                         5
Bansí                                              5
Bancrea                                            5
Accendo Banco                                      1
Volkswagen Bank                                    1
Barclays                                           1
Banco Keb Hana                                     1
Banco Shinhan                                      1
Bank of America                                    1
Bank of China                                      1
Consubanco                                         1
Credit Suisse                                      1
ICBC México                                        1
Inmobiliario Mexicano                              1
Invex                                              1
J.P. Morgan                                        1
MUFG Bank México                                   1
ABC Capital                                        1